* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: blue;
    font-family: Helvetica, Arial, sans-serif;
  }

  /* Header/Nav style */

  header {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 15px 0;     
      background-color: rgb(92, 90, 78);
      background-image: url("../images/vintage_city_bkground.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: 80%;
      z-index: 9999;
  }

  header h1 {
      color: ivory;
      font-size: 26px;
      font-style: italic;
      margin: 0;
      padding: 15px;
  }

  header a {
      color: ivory;
      text-decoration: none;
      font-style: italic;
  }

  .top-nav {
      margin: 10px 30px;
  }

  header nav ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
  }

  header nav ul li {
      padding: 10px 20px;
      font-weight: lighter;
      font-size: 20px;
  }
  /* end header/nav style */

  /* start  footer style */
  footer {
    background-color: rgb(92, 90, 78);
    padding: 40px 35px; 
}

footer h4 {
  color: linen;
  font-size: 20px;
  margin: 0;
  text-align: center;
}
  /* end footer style */

/* hero styles start */
.hero {
    background-image: url('../images/vintage_city_bkground.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(92, 90, 76, 50);
}

img {
    margin: 50px;
    width: 400px;
    height: 100%;
    border-radius: 15px;
    opacity: 0.8;
}

.avatar-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.avatar-name h2 {
    padding: 15px 0 10px 250px;
    font-size: 50px;
    font-weight: bold;
    color:linen;
    text-align: right;
    }

.avatar-name h3 {
    padding: 15px 250px;
    font-style: italic;
    font-size: 40px;
    color: linen;
}

.avatar-name p {
    color: linen;
    font-style: italic;
    font-weight: normal;font-size: 30px;
    padding: 15px 0;
}
/* hero styles end */

/* start bio */

/* end bio */

section {
    padding: 60px;
  }