* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: blue;
    font-family: Helvetica, Arial, sans-serif;
  }

  /* Header/Nav style */

  header {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 15px 0;
      border-top: double;
      border-bottom: double;
      border-color: dimgrey;
      background-color: deepskyblue;
  }

  header h1 {
      color: orangered;
      font-size: 26px;
      margin: 0;
      padding: 15px;
  }

  header a {
      color: green;
      text-decoration: none;
  }

  .top-nav {
      margin: 10px 30px;
  }

  header nav ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
  }

  header nav ul li {
      padding: 10px 20px;
      font-weight: lighter;
      font-size: 20px;
  }
  /* end header/nav style */

/* hero styles start */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    width: 300px;
    height: 331.72px;
    margin: 50px 0;
}

img {
    width: 100%;
    height: 100%;
}

.avatar-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.avatar-name h2 {
    font-size: 26px;
    font-weight: bold;
}

.avatar-name h3 {
    font-style: italic;
    padding: 10px 0;
}

.avatar-name p {
    font-weight: normal;
    padding: 10px 0;
}
/* hero styles end */

/* start bio */

/* end bio */